.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  padding-bottom: 45px;
}

@media screen and (max-width: 635px) {
  .header {
    margin-top: 28px;
    width: 320px;
  }
}
